[data-role="dynamic-fields"] > .panel + .panel {
    /*margin-top: 0.5em;*/
}

[data-role="dynamic-fields"] > .panel [data-role="add"] {
    /*display: none;*/
}

[data-role="dynamic-fields"] > .panel:last-child [data-role="add"] {
    /*display: inline-block;*/
}

[data-role="dynamic-fields"] > .panel:last-child [data-role="remove"] {
    /*display: none;*/
}